<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset=utf-8 />
        <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
        <title>Forms Playground</title>
        <script src="script.js"></script>
    </head>
    <body>
        <div ng-controller="myController" class="page-wrapper">
            <header>
                <p>Help me test tdfsdassdhese forms</p>
            </header>
            <div class="content">
                <h1 class="page-title">Forms Playground</h1>
                <div class="form-container">
                    <form  class="form-play" name="aForm" ng-submit="submitMockup()">
                        <div class="form-block form-play-name">
                            <span class="explanation">Checks if input contains only letters</span>  
                            <div>
                                <span ng-show="!aForm.name.$valid && aForm.name.$dirty" class="input-err">Must contain just letters</span>
                                <span ng-hide="!aForm.name.$valid && aForm.name.$dirty" class="">Valid String: {{name | uppercase}}</span>
                            </div>
                            <input  
                                ng-model="name" 
                                required
                                type="text"
                                ng-pattern="/^[a-zA-Z]+$/"  
                                ng-change="getFormState();"
                                name="name" 
                            />       
                        </div>

                        <div class="form-block form-play-email">
                            <span class="explanation">Typical email validation: </span>  
                            <span ng-show="aForm.email.$invalid && aForm.email.$dirty" class="input-err">Invalid Email</span> 
                            <input 
                                ng-model="email" 
                                required 
                                type="email" 
                                ng-change="nameValidation(); getFormState();"  
                                name="email"  
                            />  
                        </div>
                        
                        <div class="form-block form-play-email">
                            <p class="explanation">Check if string has "@"</p>
                            <div class="status-wrapper">
                                <p class="input-err custom-valid {{aForm.myInput.$valid ? 'invalid' : 'valid'}}"></p>
                            </div> 
                            <input
                                ng-model="myInput"
                                required 
                                my-directive
                                ng-change="getFormState();" 
                                name="myInput"   
                            />
                            <!-- <p>The input's valid state is: {{aForm.myInput.$valid}}</p> -->
                            
                        </div>
                        
                        <div class="form-block form-play-checklength">
                            <p class="explanation">Checks if input the input's length is 10: {{checklength.length}}</p>
                            <div class="status-wrapper">
                                <p ng-style="checklengthLength" class="checklength-length"></p>
                            </div> 
                            <input 
                                ng-model="checklength" 
                                required 
                                type="text" 
                                ng-change="catchLength($event); getFormState();" 
                                name="checklength" 
                            />
                        </div>

                        <div class="form-submit-wrapper">
                            <input ng-disabled="aForm.$invalid" type="submit" id="submit" value="Submit" />
                        </div>
                    </form>
                    <div class="progress-bar">
                        <div class="progress" ng-style="formCompletion"></div>
                    </div>
                </div>
                <div class="data-wrapper">
                    <table ng-show="formData" class="submitted-data-table">
                            <tr ng-repeat="(key,val) in formData">
                                <td>{{key}}:</td>
                                <td>{{val}}</td>
                            </tr>
                    </table>
                </div>
                <div class="async-wrapper">
                    <p>Don't mind me,</p>
                    <p>I'm some async data from</p>
                    <span>jsonplaceholder.com: </span><span id='async'></span>
                </div>
            </div>
        </div>
    </body>
</html>